body{
    font-family: 'Indie Flower', cursive;
    color: #ce9178;
    margin: 0;
    text-align: center;
}

p{
    font-size: 70px;
    margin: 20px;
}

.background{
    background-color: #262930;
    height: 100vh;
    width: 100vw;
    padding-top: 25px;
    margin: 0;
}

#board{
    width: 564px;
    height: 594px;
    background-color: #262930;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile{
    width: 180px;
    height: 190px;
    margin: 2px;

    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #ce9178;
    background-color: #3c404b;
    cursor: pointer;
}
.tile:hover{
    background-color: #5d616e;
}

.winner{
    background-color: #6c6e72;
    color: rgb(187, 185, 93);
}

#reset{
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    width: 100px;
    height: 55px;
    color: #262930;
    background-color: #ce9178;
    padding: 0;
    border: 0;
    cursor: pointer;

    text-align: center;
    vertical-align: center;
}
#reset:hover{
    background-color: #e4b29d;
}